.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
header{
  width: 100%;
  height: 20%;
  display: flex;
  background-color: #DAE0E2;
}
header>img{
  height: 80%;
  margin: auto;
  width: 100px;

}
header>h1{
  margin: auto;
  font-family: cursive;
  font-size: 60px;
}
footer{
  justify-content: flex-end;
  background-color:#cdcdcd;
  height: 100px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: auto;
}
.memeholder{
  height: 70%;
  width: 100%;

}
.meme{
  position: relative;
  }
.meme >img{
    height: 50%;
    width: 60%;
}
.top{
  top:0;
  position: absolute;
}
.bottom{
  bottom:0;
  position: absolute;
}
footer{
  height: 10%;
  width: 100%;
}